---
import { siteConfig } from '@/site-config'

const today = new Date()
---

<footer
	class='flex flex-col justify-center items-center w-full px-16 h-28 border-t-2 text-center gap-5'
>
	<p class='text-base font-medium italic text-indigo-600 dark:text-indigo-400'>
		You are looking at authentic human-crafted content, not AI slop.
	</p>
	<p class='text-sm mt-1'>&copy; {today.getFullYear()} {siteConfig.author}. All rights reserved</p>
</footer>
